<div class="row">

    <div class="row">
        <h1 class="cl-viol-pos1">Recetas mejor calificadas</h1>
    </div>

    <div class="row">

        <div class="col-md-6 mtop-10px" *ngFor="let item of recipes">
            <div class="cuadroReceta">
                <img [src]="'http://localhost:4000/files/' + item.images[0].url" class="card-img-top imgCard">

                <div class="footCard">
                    <h6 class="ff-cgothic fbold no-margin cl-viol-pos1">{{ item.name }}</h6>
                    <p class="fs-13px no-margin fbold">Autor: <span class="flight"> {{ item.author.names }} {{ item.author.lastnames }} </span></p>
                    <p class="fs-13px no-margin fbold"> Descripción: <span class="flight"> {{ item.description }} </span></p>
                </div>
                
                <div class="footCard ptop-5px">
                    <div class="row v-centered">

                        <div class="col-md-8">
                            <h6 class="ff-cgothic no-margin fs-15px">Calificación: {{ item.average }} <span class="cl-rainbowColor"> <i class="far fa-star"></i> </span> </h6>
                        </div>

                        <!-- <div class="col-md-2 fullcenter">
                            <button class=" btn circulo squared40 cl-viol-pos2 ol-viol ol-viol-hv"     data-toggle="modal" info-title="Editar Receta">
                                <i class="fas fa-screwdriver"></i>
                            </button>
                        </div>

                        <div class="col-md-2 fullcenter">
                            <button class=" btn circulo squared40 cl-rojo-pos2 ol-rojo ol-rojo-hv"      info-title="Eliminar Receta">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>