
<div class="row">
    <div class="col-md-3">
        <h3 class="cl-viol">Recetas</h3>
        <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="option" (change)="refreshList()">
            <option value="1">Todas</option>
            <option value="2" *ngIf="auth.logged()" >Mis recetas</option>
        </select>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control ol-viol" name="browser" placeholder="Buscar" (keyup)="buscar(browser)" #browser>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripción</th>
                    <!-- <th scope="col">autor</th> -->
                    <th scope="col">opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer" *ngFor="let item of recipes">
                    <td> {{ item.name }} </td>
                    <td> {{ item.description }} </td>
                    <!-- <td> {{ item.author.names }} {{ item.author.lastnames }} </td> -->
                    <td> 
                        <div class="col-md-2 fullcenter">
                            <button class=" btn circulo squared30 cl-viol-pos2 ol-viol ol-viol-hv fullcenter" (click)="verDetalles(item)" info-title="Detalles de la Receta">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="card p-2" *ngIf="recipe.id > 0">
            <h2 class="fbold"> {{ recipe.name }} </h2>
            <h4>{{ recipe.description }}</h4>
            <div class="row">
                <div class="col-md-6 p-2" *ngFor="let item of recipe.images">
                    <img [src]="'http://localhost:4000/files/' + item.url" class="imgMini mtop-5px borderSoft">
                </div>
            </div>
            <hr>
            <h5>ingredientes:</h5>
            <table class="table table-borderless fs-14px">
                <tbody>
                    <tr *ngFor="let item of recipe.ingredients">
                        <td><i class="fas fa-dot-circle cl-viol-pos2"></i> {{ item.name }} </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <h5>Preparacion:</h5>
            <p class="fs-14px">
                {{ recipe.preparation }}
            </p>

            <h5>Nota:</h5>
            <p class="fs-14px">
                {{ recipe.note }}
            </p>

            <hr>    
            <h5 *ngIf="auth.logged()">Califica esta receta:</h5>
            <div class="row" *ngIf="auth.logged()">
                <div class="col-md-2"><i class="fas fa-heart-broken cl-viol-pos2"></i></div>
                <div class="col-md-8"><input type="range" list="quality" name="qualification" class="form-control ol-viol cl-viol-neg2 slider mbottom-30px" min="1" max="5" [(ngModel)]="rate" (change)="rateRecipe()"></div>
                <div class="col-md-2"><i class="fas fa-heart cl-viol-pos2"></i></div>
            </div>
            

        </div>
    </div>
</div>


