<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fs-15px" routerLink="/home" routerLinkActive="cl-viol-pos2 fbold">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-15px" routerLink="/recipes" routerLinkActive="cl-viol-pos2 fbold">Recipes</a>
                </li>
                <li class="nav-item" *ngIf="auth.logged()">
                    <a class="nav-link fs-15px" routerLink="/recipecreator" routerLinkActive="cl-viol-pos2 fbold">Recipe Creator</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <ng-container *ngIf="!auth.logged()">
                    <li class="nav-item">
                        <a class="nav-link fs-15px" routerLink="/login" routerLinkActive="cl-viol-pos2 fbold">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-15px" routerLink="/signup" routerLinkActive="cl-viol-pos2 fbold">Sign up</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="auth.logged()">
                    <li class="nav-item">
                        <a class="nav-link fs-15px c-pointer" (click)="auth.logout()">Log out</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>

<div class="container p-2">
    <router-outlet></router-outlet>
</div>
