<div class="row ">
    <div class="col-md-6">
        <form (submit)="createRecipe()">

            <div class="card">
                <div class="card-header fbold cl-viol-neg2">
                    Creador de recetas
                </div>
                <div class="card-body row">

                    <div class="form-group mtop-10px col-md-6">
                        <label for="name">Nombre</label>
                        <input type="text" [(ngModel)]="recipe.name" name="name" class="form-control ol-viol" id="name" placeholder="nombre" required autofocus>
                    </div>

                    <div class="form-group mtop-10px col-md-6">
                        <label for="description">Descripción</label>
                        <input type="text" [(ngModel)]="recipe.description" name="description" class="form-control ol-viol" id="description" placeholder="descripción" required>
                    </div>

                    <div class="form-group mtop-30px col-md-12">
                        <label for="preparation">Preparación</label>
                        <textarea type="text" [(ngModel)]="recipe.preparation" name="preparation" class="form-control ol-viol" id="preparation" placeholder="preparación" required></textarea>
                    </div>

                    <div class="form-group mtop-30px col-md-12">
                        <label for="note">Nota</label>
                        <input type="text" [(ngModel)]="recipe.note" name="note" class="form-control ol-viol" id="note" placeholder="notas" required>
                    </div>

                    <div class="col-md-12 mtop-30px" *ngIf="!editting">
                        <div class="row">
                            <div class="col-md-6 borderSoft">
                                <h3 class="cl-viol">Ingredientes</h3>
                                <table class="table table-borderless table-striped">
                                    <tbody >
                                        <tr class="fs-14px" *ngFor="let item of ingredients">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>
                                                <button class=" btn circulo squared25 cl-roze-neg2 ol-roze ol-roze-hv fullcenter fs-12px"     info-title="Quitar ingrediente"   (click)="removeIngredient(item)">
                                                    <i class="far fa-times-circle"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form (submit)="addIngredient()">
                                    <div class="row">
                                        <div class="form-group mtop-10px col-md-6">
                                            <label for="name">Nombre</label>
                                            <input type="text" [(ngModel)]="ingredient.name" name="name" class="form-control ol-viol" id="name" placeholder="nombre" >
                                        </div>

                                        <div class="form-group mtop-10px col-md-6">
                                            <label for="description">Descripción</label>
                                            <input type="text" [(ngModel)]="ingredient.description" name="description" class="form-control ol-viol" id="description" placeholder="descripción" >
                                        </div>
                                    </div>

                                    <button type="submit" class="btn bg-blanco cl-viol-neg2 ol-viol ol-viol-hv mtop-10px">agregar ingrediente</button>

                                </form>
                            </div>

                            <div class="col-md-6 borderSoft">
                                <h3 class="cl-viol">Imagenes</h3>

                                <div class="row">
                                    <div class="col-md-12 p-2">
                                        <img *ngFor="let img of images" src="{{ img }}" class="imgMini mtop-5px">
                                    </div>
                                </div>
                                <form>
                                    <input type="file" class="form-control" (change)="imageUpload($event, fileInput)" #fileInput>
                                </form>

                            </div>
                        </div>
                    </div>
                    
                    <ng-container *ngIf="editting">
                        <div class="col-md-6 fullcenter mtop-30px">
                            <button class="btn bg-blanco cl-roze-neg1 ol-roze ol-roze-hv mtop-30px" (click)="closeEdit()">Cancelar</button>
                        </div>
                        <div class="col-md-6 fullcenter mtop-30px">
                            <button class="btn bg-blanco cl-viol-neg2 ol-viol ol-viol-hv mtop-30px" (click)="update()">Actualizar receta</button>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!editting">
                        <div class="col-md-6 fullcenter mtop-30px">
                            <button type="submit" class="btn bg-blanco cl-viol-neg2 ol-viol ol-viol-hv mtop-30px">Crear receta</button>
                        </div>
                    </ng-container>
                    
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">

        <table class="table table-borderless table-striped">
            <thead>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody >
                <tr class="fs-14px" *ngFor="let item of recipes">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td *ngIf="item.status == 'A'">
                        <button class=" btn circulo squared25 cl-roze-neg2 ol-roze fullcenter fs-15px"  info-title="Desactivar receta" (click)="Deactivate(item.id)">
                            <i class="fas fa-toggle-on"></i>
                        </button>
                    </td>
                    <td *ngIf="item.status == 'D'">
                        <button class=" btn circulo squared25 cl-roze-neg2 ol-roze fullcenter fs-15px"  info-title="Activar receta" (click)="Activate(item.id)">
                            <i class="fas fa-toggle-off"></i>
                        </button>
                    </td>
                    <td class="texto-centrado">
                        <button class=" btn circulo squared25 cl-lime-neg1 ol-lime ol-lime-hv texto-centrado fs-12px"  info-title="Editar receta" (click)="initEdit(item)" *ngIf="item.status == 'A'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class=" btn circulo squared25 cl-roze-neg2 ol-roze ol-roze-hv texto-centrado fs-12px"  info-title="Eliminar receta" (click)="Delete(item.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
