


   
<ng-template #contenido let-modal>
    
    <div class="modal-header">
        <h3 class="modal-title">Detalles de la receta</h3>

        <button type="button" class=" btn circulo squared25 cl-roze-neg2 ol-roze ol-roze-hv fullcenter fs-12px" data-dismiss="modal" (click)="modal.dismiss()">
            <i class="far fa-times-circle"></i>
        </button>

    </div>
    <div class="modal-body">
        <h1 class="cl-viol">Nombre receta</h1>
        <h3>Descripcion receta</h3>
    </div>

</ng-template>

