<div class="row fullcenter">
    <div class="col-md-4">
        <form (submit)="signup()">

            <div class="card">
                <div class="card-header fbold cl-viol-neg2">
                    Sign up
                </div>
                <div class="card-body row">

                    <div class="form-group mtop-10px col-md-6">
                        <label for="email">Names</label>
                        <input type="names" [(ngModel)]="user.names" name="names" class="form-control ol-viol" id="names" placeholder="names" required autofocus>
                    </div>

                    <div class="form-group mtop-10px col-md-6">
                        <label for="lastnames">Last names</label>
                        <input type="lastnames" [(ngModel)]="user.lastnames" name="lastnames" class="form-control ol-viol" id="lastnames" placeholder="last names" required autofocus>
                    </div>

                    <div class="form-group mtop-30px col-md-12">
                        <label for="username">Username</label>
                        <input type="username" [(ngModel)]="user.username" name="username" class="form-control ol-viol" id="username" placeholder="username" required autofocus>
                    </div>

                    <div class="form-group mtop-30px col-md-12">
                        <label for="email">Email</label>
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control ol-viol" id="email" placeholder="Enter email" required autofocus>
                    </div>
        
                    <div class="form-group mtop-30px col-md-12">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control ol-viol" id="password" placeholder="Type Password" required>
                    </div>
        
                    <button type="submit" class="btn bg-blanco cl-viol-neg2 ol-viol ol-viol-hv mtop-30px">Sign up</button>
                </div>
            </div>

        </form>
    </div>
</div>
